<script setup lang="ts"></script>

<template>
  <div>
    <standard-component> This is slot content 1. </standard-component>

    <standard-component> This is slot content 2. </standard-component>
  </div>
</template>

<style scoped></style>
