<script setup lang="ts">
import { defineProps } from "vue";
defineProps<{ componentName: string }>();
</script>

<template>
  <div>
    <component :is="componentName" />
  </div>
</template>

<style scoped></style>
