<script setup lang="ts">
import { defineOptions } from "vue";
defineOptions({
  name: "SourceCode",
});
</script>

<template>
  <div>
    <p>asdasd</p>
    <slot></slot>
  </div>
</template>

<style scoped></style>
