<template><div><h1 id="standard-component" tabindex="-1"><a class="header-anchor" href="#standard-component"><span>standard-component</span></a></h1>
<p>Wow! This component is awesome.</p>
<h2 id="example" tabindex="-1"><a class="header-anchor" href="#example"><span>Example</span></a></h2>
<Demo componentName="examples-standard-component-doc" /><h2 id="source-code" tabindex="-1"><a class="header-anchor" href="#source-code"><span>Source Code</span></a></h2>
<SourceCode>
:[code](../scr/components/Button/Button.vue)
</SourceCode>
<h2 id="slots" tabindex="-1"><a class="header-anchor" href="#slots"><span>slots</span></a></h2>
<p>...</p>
<h2 id="props" tabindex="-1"><a class="header-anchor" href="#props"><span>props</span></a></h2>
<p>...</p>
</div></template>


